.container {
  display: flex;
  flex-direction: column;
}

.container input { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container textarea { 
  background-color: white;
  width: 95%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container select { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.addToItinerary { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.header {
  margin-top: 20px;
}

.header h1, .header h3 {
  margin: 0px 0px 0px 20px;
}

.detailPhoto {
  height: 300px;
  width: 500px;
}

.cardContainer {
  margin: 20px;
  max-height: 500px;
  max-width: 800px;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.cardContainer div {
  margin: 0px 10px;
}

.cardContainer button {
  background-color: brown;
  color: white;
}

.updateDelete {
  display: flex;
}

.deleteButton {
  background-color: brown;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  margin-left: 20px;
  margin-top: -10px;
}

.Link {
  text-decoration: none;
  color: brown;
  text-decoration: underline;
}

.leaveReview {
  margin-top: 50px;
  margin-left: 20px;
  background-color: whitesmoke;
  max-width: 600px;
  border-radius: 10px;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}