.landingMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.heroDiv {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 40%;
  background-image: url('../../assets/branding/background.jpg');
  justify-content: center;
  align-items: center;
}

.landingContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  height: 60%;
  width: 100%;
  justify-content: center;
}