.container {
  position: fixed;
  margin-top: 100px;

}

.container form {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  /* background-color: aquamarine; */
  justify-content: center;
  align-items: center;
}

.descriptionText {
  display: flex;
  flex-direction: column;
}

.textArea {
  width: 500px;
  height: 100px;
}