.container {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textArea {
  height: 100px;
}

.container textarea, input, select, button { 
  background-color: white;
  width: 95%;
  padding: 14px;
  font-size: 16px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 500;
}

div label {
  font-size: 16px;
  font-weight: 400;
}