.container {
  margin-top: 100px;
  margin-left: 20px;
}

.container form {
  background-color: whitesmoke;
  width: 95%;
  padding: 14px;
  font-size: 16px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

