.experienceCardContainer {
  margin: 20px;
  height: 250px;
  width: 200px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  border: 1px solid gray;
  background-color: whitesmoke;
}

.experienceCardContainer > img {
  margin-top: 0;
}

.experienceCardTextDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experienceCityText {
  text-decoration: none;
  color: black;
}

.icon {
  height: 20px;
}

.nameIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}